.MuiPagination-root {

    .Mui-selected {}

    .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: var(--active);

        &:hover {
            background-color: var(--black1)
        }
    }

    .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
        color: var(--white1);
        background-color: var(--defaultColor1);
        font-size: var(--size1);

        &:hover {
            background-color: var(--black1)
        }
    }

    .css-1scal0h-MuiPaginationItem-root {
        font-size: var(--size1);
    }

}