@import 'normalize.css';

:root {

    // default color
    --defaultColor1: #efa162;
    --active: #f08632;
    --white1: #fff;
    --white2: rgb(247, 247, 247);
    --black1: #000;
    --bgcl: #ebebeb;
    --bluesky: rgba(132, 239, 237, 0.381);
    // default px
    --standard: 10px;
    --radius: 10px;
    --rad4: 20px;
    --mg1: 5px;
    --p1: 35px;
    --p2: 20px;
    --p3: 18px;
    --p4: 40px;
    // font weight
    --fw1: 600;
    //font size
    --size1: 20px;
    //min width
    --mw: 550px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // -o-user-select: none;
    // user-select: none;
}

a {
    text-decoration: none;
    color: var(--black);
}